@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

.signUp_container {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: url('/bonesBG.jpeg');
  background-size: cover;
  background-position: 10% 10%;
}

.logo {
  width: 300px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: max-content;
  height: max-content;
  box-shadow: 2px 2px 8px black;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.896);
}

.inputsContainer h3 {
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

.inputsContainer input {
  width: 80%;
  padding: 10px 5px;
  border-radius: 4px;
  border: 1px solid black;
  filter: drop-shadow(1px 1px 1px black);
}

.inputsContainer button {
  font-size: 16px;
  border-radius: 0;
  background-color: pink;
  margin-bottom: 15px;
  font-family: 'Cairo', sans-serif;
}
