.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: white;
  border-bottom: 1px solid rgb(6, 6, 6);
  padding: 0 20px;
  height: 40px;
}

.headerButton {
  font-size: 18px;
  height: fit-content;
  border-radius: 0;
  box-sizing: border-box;
}

.navLogo {
  width: 40px;
}

.sider {
}

.welcome {
  text-align: center;
  font-size: 12px;
  margin: 8px auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: #f7d2f2f8; */
  /* border: 1px solid black; */
  height: 70vh;
  padding: 10px 10px;
  font-size: 16px;
}

.menu li {
  background-color: #c36e93;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  color: white;
}

.content {
  margin: 10px 16px;
  min-height: 81.45vh;
}

.scheduleContainer {
  width: 100%;
  height: 89vh;
}

.calender {
  border: none;
  width: 100%;
  height: 100%;
}
