.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  background: white;
  height: 46px;
}

.headerButton {
  font-size: 18px;
  height: fit-content;
  border-radius: 0;
  box-sizing: border-box;
}

.navLogo {
  width: 30px;
}

.welcome {
  background-color: white;
  text-align: center;
  padding: 5px 0;
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 5px;
}

.menu li {
  background-color: #c36e93;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  color: white;
}

.content {
  margin: 0px 0px;
  min-height: 92vh;
  /* background: #121212; */
}
