.navContainer {
  width: 100%;
  border: 2px solid rgb(255, 0, 238);
  box-sizing: border-box;
}

.navList {
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;
}

.navList li {
  width: max-content;
  margin: auto 15px;
  color: black;
}

.navList li:hover {
  /* background-color: lightpink; */
  cursor: pointer;
  color: black;
}

.navList Link {
}

.navLink {
  color: black;
}

.navList h3 {
  margin-right: auto;
}

.navLogo {
  width: 80px;
  margin-right: auto;
}
