.navContainer {
  width: 100%;
  height: 70px;
  padding: 0px 10px;
  border: 2px solid rgb(255, 0, 238);
  background-color: rgba(255, 255, 255, 0.719);
  box-sizing: border-box;
}

.navList {
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;
}

.navList li {
  width: max-content;
  margin: auto 15px;
  color: black;
  font-size: 18px;
}

.navList li:hover {
  /* background-color: lightpink; */
  cursor: pointer;
  color: black;
}

.navList li button {
  height: max-content;
  width: max-content;
  background-color: rgb(198, 219, 228);
}

.navLink {
  color: black;
}

.navList h4 {
  margin-right: auto;
  align-self: center;
}

.navLogo {
  width: 60px;
  margin-right: auto;
}

.houseIcon {
  font-size: 32px;
}

.navContainer button {
  height: 40px;
  width: 100px;
  font-size: 15px;
  align-self: center;
}

@media (max-width: 390px) {
  div {
    margin: 0;
  }

  .navContainer {
    height: 80px;
    border: 0;
    padding: 0;
  }

  .navList li {
    font-size: 15px;
  }

  .navContainer button {
    width: 120px;
    font-size: 12px;
  }

  .navLogo {
    display: none;
  }
}
