.navContainer {
   width: 100%;
   border: 2px solid rgb(255, 0, 238);
}

.navList {
   display: flex;
   flex-direction: column;
   gap: 20px ;
   list-style: none;
   text-align: center;
}

.navList li {
   width: 200px;
   margin: auto;
}

.navList li:hover {
   background-color: lightpink;
   cursor: pointer;
   color: black;
}

.navList Link {
   color: white;
}

.navLink {
   color: white;
}
 