@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

.container {
  width: 100%;
  max-height: 100%;
  display: flex;
  /* border: 1px solid blue; */
  margin: auto;
  box-sizing: border-box;
  overflow-y: hidden;
}

.container h3 {
  text-align: center;
  font-family: 'Cairo', sans-serif;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  min-width: 275px;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.719);
  box-sizing: border-box;
}

.profilePicContainer button {
}

.save {
  font-size: 16px;
  width: 50%;
  border-radius: 0;
  background-color: pink;
  margin-bottom: 15px;
  font-family: 'Cairo', sans-serif;
}

.profilePic {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 180px;
  /* margin: auto; */
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profileInfo input {
  width: 95%;
  padding: 10px 5px;
  /* height: 35px; */
  /* border-top: none; */
  border-radius: 4px;
  border: 1px solid black;
  filter: drop-shadow(1px 1px 1px black);
  /* margin: auto; */
}
