.container {
  width: 100%;
  max-height: 100%;
  /* border: 1px solid blue; */
  margin: auto;
  box-sizing: border-box;
  overflow-y: hidden;
}

.container h3 {
  text-align: center;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  min-width: 275px;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 15px auto;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.719);
  box-sizing: border-box;
}

.profilePicContainer button {

}

.save {
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.profilePic {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 180px;
  margin:  auto;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.profileInfo input {
  width: 180px;
  height: 30px;
  border: 1.5px solid pink;
  border-radius: 5px;
  margin: auto;
}












.createDogsContainer {
  align-self: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dogCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.dogHeader {
  display: flex;
  align-items: center;
}

.dogHeader button {
  height: 30px;
  width: 90px;
  font-size: 12px;
  margin-left: auto;
}

.cardContainer {
  box-sizing: border-box;
  display: flex;
  margin: 20px auto;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  padding: 5px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 8px;
  width: max-content;
  height: max-content;
}

.cardContainer input {
  width: 120px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
}

.cardContainer button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  margin: auto;

}

.dogImg {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 1px solid black;
  border-radius: 180px;
}

.dogAge input {
  width: 40px;
  height: 20px;
  margin-left: 25px;
  text-align: center;
}

.save {
  margin: auto;  
  background-color: rgb(181, 120, 120);
  color: white;
}

.save:hover {
  background-color: white;
  color: black;
}

.complete {
  height: 60px;
  background-color: lightgreen;
  margin-top: 100px;
}