/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  max-width: 1200px;
  padding: 0;
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1640102371408-5fc0c42a8792?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80');
}

/* .mainContainer {
  width: 1200px;
  height: 100vh;
  border: 1px solid white;
  margin: auto;
} */

/* @media (max-width: 390px) {
   .mainContainer {
    width: 380px;
   }
} */
