.createDogsContainer {
  align-self: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dogCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.dogHeader {
  display: flex;
  align-items: center;
}

.dogHeader button {
  height: 30px;
  width: 90px;
  font-size: 12px;
  margin-left: auto;
}

.cardContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
  gap: 10px;
  padding: 25px;
  justify-content: center;
  border-radius: 8px;
  width: max-content;
  height: max-content;
}

.cardContainer input {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}

.dogAge input {
  width: 50px;
  height: 30px;
  margin-left: 5px;
  text-align: center;
  font-size: 15px;
}

.addDog {
  background-color: pink;
  border-radius: 10px;
  color: rgb(7, 6, 6);
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
}

.addDog:hover {
  background-color: white;
  color: black;
}

.complete {
  background-color: pink;
  border-radius: 0;
  color: rgb(7, 6, 6);
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
  height: max-content;
}

.dogsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dogCard {
  display: flex;
  /* border: 1px solid red; */
  border-radius: 8px;
  background-color: aliceblue;
  padding: 5px 10px;
  box-sizing: border-box;
}

.dogInfo {
  display: flex;
  width: 150px;
  font-size: 16px;
  flex-direction: column;
}

.dogPic {
  order: -1;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 180px;
  align-self: center;
}

.dogName {
  align-self: center;
  /* margin-left: 50px; */
}
